<h1>Category list</h1>
<table class="table table-bordered table-stripped">
    <tr>
        <th>
            Category Name
        </th>
        <th>
            Display Order
        </th>
    </tr>
</table>